.darumadrop-one-regular {
    font-family: "Darumadrop One", serif;
    font-weight: 400;
    font-style: normal;
  }
body {
    font-family: "Darumadrop One", serif;
    font-weight: 400;
    font-style: normal;
    text-align: center;
    background-color: bisque;
}
.container{
    text-align: center;
}
h1{
    font-size: 2em;
}
hr{
    border: 1px solid #181716;
    margin: 20px 0;
}
