.darumadrop-one-regular {
    font-family: "Darumadrop One", serif;
    font-weight: 400;
    font-style: normal;
  }
body {
    font-family: "Darumadrop One", serif;
    font-weight: 400;
    font-style: normal;
    text-align: center;
    background-color: bisque;
}
.container{
    text-align: center;
}
h1{
    font-size: 2em;
    color: #ecb56c;
}
hr{
    border: 1px solid #ecb56c;
    margin: 20px 0;
}
p{
    color: #000000;
}
@keyframes pular {
    0% { transform: translateY(0); }
    50% { transform: translateY(-10px); }
    100% { transform: translateY(0); }
}

.imagem img:active {
    animation: pular 0.3s;
}
